/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color:white;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(163, 93, 196);
    text-align: center;
}

ul {
    color: rgb(163, 93, 196);
    width:fit-content;
    border: 2px solid rgb(236, 108, 219);
}

/* specifieke stijlen */

.menu1{
  border-radius: 15px 50px;
  background: #73AD21;
}

.box1 {
  border: 3px solid rgb(0, 0, 0);
  width: 600px;
  padding: 2px;
}

.box2 {
  text-color:white;
  width: 600px;
  margin: 20px;
  padding: 20px;
  border: 3px solid rgb(163, 93, 196);
  background: rgba(0,0,0,0.5); 
}

.img1 {
  padding: 12px;
  width: 350px;
  float: right;
  
}

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 15px;
    background-color: rgb(172, 58, 224);
    overflow: hidden;
}

nav ul li {
  float: left;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(172, 58, 224);
}

nav li a.active {
    background-color: rgb(177, 114, 206);
}

nav li a.home {
  border-radius: 50px 50px 500px 500px;
  background: rgb(104, 30, 122);
  padding: 20px; 
  width: 200px;
  height: 20px; 
}

            body {
              background-image: url(https://w0.peakpx.com/wallpaper/271/9/HD-wallpaper-video-game-genshin-impact-inazuma-genshin-impact.jpg);
              height:100%;
              margin:0px;
            }





